FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:example@url:3000/postgres
SESSION_SECRET=OH PLEASE PLEASE CHANGE ME

# Controls static site generation during build
# This helps avoid parallel database connections during static page 
# generation which is an issue with Prisma/Next
# Default is false 
ENABLE_SSG=false

# Email
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD
SMTP_FROM

# Needed for images to work
S3_BUCKET_NAME
S3_ACCESS_KEY_ID
S3_SECRET_ACCESS_KEY
S3_REGION

# Stripe keys
NEXT_PUBLIC_STRIPE_KEY
STRIPE_SECRET_KEY

# Paypal Keys
NEXT_PUBLIC_PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET